// @use "../variables" as *;
@mixin buttonStyle($color, $bgColor, $height) {
  // color: $color;
  // border: none;
  // border-radius: 5px;
  // background-color: $bgColor;
  // width: 4em;
  // height: $height;
  background-color: $color;
  border-radius: 8px;
  border-style: none;

  color: $bgColor;

  // display: inline-block;
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  height: $height;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  // position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
